* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: "arial", sans-serif;
    background-color: rgb(0, 0, 0);
  }
  button {
    padding: 25px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    font-size: x-large;
    color: #ad00fd;
    border: 1px solid #ad00fd;
    border-radius: 7.5px;
  }
  button:hover {
    background-color: #ad00fd;
    color: rgb(0, 0, 0);
  }
  .conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }